@charset "utf-8";

/* 768px */
@media screen and (min-width: 768px) {
  html {
    font-size: 17px;
  }

  h1 {
    background-color: lightpink;
    padding: 40px;
  }

  h1 storng {
    display: inline;
  }

  h2 {
    background-color: lightgreen;
  }

  .container {
    width: 70vw;
    margin: 0 auto;
  }
}