@charset "UTF-8";

@keyframes mov1 {
  100% {
    background-image: linear-gradient(#1D24CA, #41C9E2);
    margin-left: 70vw;/* 레이아웃에 영향을 줌 */
    transform: rotate(360deg);
  }
}
@keyframes mov2 {
  100% {
    background-image: linear-gradient(#90D26D, #41C9E2);
    transform: rotate(360deg);
    left: 80%;
  }
}
@keyframes mov3 {
  100% {
    background-image: linear-gradient(#9195F6, #FB88B4);
    transform: translateX(calc(100vw - 200px)) rotate(360deg);
  }
}